@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
  background: black;
}
.title {
  color: green;
  font-family: Lobster,cursive;
}
.pixel {
  height: 12px;
  width: 12px;
  border: 1px solid;
}
#board {
  margin: 0 auto;
  padding: 40px;
  border: 5px solid;
}
.buttonMenu {
  margin: 0 auto;
}
.alive {
  background-color: green;
  height: 12px;
  width: 12px;
  border: 1px solid #434;
}
.dead {
  background-color: orange;
  height: 12px;
  width: 12px;
  border: 1px solid #434;
}
#time {
  text-align: center;
  color: white;
  font-size: 30px;
  border: 1px solid green;
  margin-bottom: 10px;
}